<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>CS481_Web</display-name>
  
  <!-- DATABASE CONNECTION SETUP -->
  <resource-ref>
  <description>DATABASE</description>
  <res-ref-name>jdbc/cs481</res-ref-name>
  <res-type>javax.sql.DataSource</res-type>
  <res-auth>Container</res-auth>
  </resource-ref>
  
  <listener>
  	<listener-class>edu.ycp.cs481.servlets.DatabaseInitListener</listener-class>
  </listener>
  
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>ShowGallery</servlet-name>
  	<servlet-class>edu.ycp.cs481.servlets.ShowGallery</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>ShowUserGallery</servlet-name>
  	<servlet-class>edu.ycp.cs481.servlets.ShowUserGallery</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>Home</servlet-name>
  	<servlet-class>edu.ycp.cs481.servlets.Home</servlet-class>
  </servlet>
  <!-- Servlet mappings (mapping of paths to servlets). -->
  
  <servlet-mapping>
  	<servlet-name>ShowGallery</servlet-name>
  	<url-pattern>/Gallery/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>ShowUserGallery</servlet-name>
  	<url-pattern>/ShowUserGallery/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>Home</servlet-name>
  	<url-pattern>/Home/*</url-pattern>
  </servlet-mapping>
  
</web-app>